{% load mptt_tags %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"> </script>
<!-- jQuery UI !-->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script>

      $(function() {
        $("#query").autocomplete({
          source: "/search_auto/",
          select: function (event, ui) { //item selected
            AutoCompleteSelectHandler(event, ui)
          },
          minLength: 1,
        });
      });

      function AutoCompleteSelectHandler(event, ui)
      {
        var selectedObj = ui.item;
      }

    </script>
    <!-- Topbar Start -->
    <div class="container-fluid">
        <div class="row bg-secondary py-2 px-xl-5">
            <div class="col-lg-6 d-none d-lg-block">
                <div class="d-inline-flex align-items-center">
                    <a class="text-dark" href="">FAQs</a>
                    <span class="text-muted px-2">|</span>
                    <a class="text-dark" href="">Help</a>
                    <span class="text-muted px-2">|</span>
                    <a class="text-dark" href="">Support</a>
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="text-dark pl-2" href="">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row align-items-center py-3 px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a href="{% url 'core:index' %}" class="text-decoration-none">
                    <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">{{setting.company}}</span></h1>
                </a>
            </div>
            <!--  Search  -->
            <div class="col-lg-6 col-6 text-left">
                <form method="POST" action="{% url 'core:search' %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <input id="query" name="query" type="text" class="form-control" placeholder="Search for products">
                        <div class="input-group-append">
                            <select id="cat" name="cat" class="input-group-text">
                                <option value="0">All Categories</option>
                                    {% recursetree category %}
                                        {% if node.is_leaf_node %}
                                            <option value="{{node.id}}">{{node.title}}</option>
                                        {% else %}
                                            <optgroup label="{{node.title}}">{{children}}</optgroup>
                                        {% endif %}
                                    {% endrecursetree %}
                            </select>
                            <span class="input-group-text bg-transparent text-primary">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-3 col-6 text-right">
                <a href="" class="btn border">
                    <i class="fas fa-heart text-primary"></i>
                    <span class="badge">0</span>
                </a>
                <a href="/order/shopcart/" class="btn border">
                    <i class="fas fa-shopping-cart text-primary"></i>
                    <span class="badge">{{shopcart|length}}</span>
                    <span>{{ total }}</span>
                </a>
            </div>
        </div>
    </div>
    <!-- Topbar End -->

