{% load static %}
{% load mptt_tags %}
<a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px;">
    <h6 class="m-0">Categories</h6>
    <i class="fa fa-angle-down text-dark"></i>
</a>
<nav class="collapse show navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0" id="navbar-vertical">
    <div class="navbar-nav w-100 overflow-hidden" style="height: 410px">
        {% recursetree category %}
            {% if not node.is_leaf_node %}
                <div class="nav-item dropdown">
                    <a href="/category/{{ node.id }}/{{node.slug}}/" class="nav-link" data-toggle="dropdown">{{ node.title }} <i class="fa fa-angle-down float-right mt-1"></i></a>
                    <div class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0">
<!--                                            <a href="/category/{{ node.id }}/{{node.slug}}/">-->
                            {{ children }}
<!--                                            </a>-->
                    </div>
                </div>
            {% else %}
                <a href="/category/{{ node.id }}/{{node.slug}}/" class="nav-item nav-link">{{ node.title }}</a>
            {% endif %}
        {% endrecursetree %}
    </div>
</nav>