<div class="billing-details">

    <div class="section-title">
        <h3 class="title"> User panel</h3>
    </div>
    <div class="aside">
        <ul class="list-links">
            <li><a href="/user"> User profile</a></li>
            <li><a href="/user/orders"> My orders</a></li>
            <li><a href="/user/order_products"> My ordered products</a></li>
            <li><a href="/user/comments"> My comments </a></li>
            <li><a href="/user/favorites"> My favorites </a></li>
            <br>
            <li><a href="{% url 'logout' %}"> Logout </a></li>
         </ul>
    </div>
</div>